<a href="https://colab.research.google.com/github/skomandooru/pdsnd_github/blob/master/DS_200_Clearning_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clearning Data (Extra Credits)

In real world, the data we obtain is almost certainly imperfect. It might be missing values, have incorrect values, or in a format that is not immediately ready for processing. So we need to clean it and preprocess it to make it usable. 

The topic on cleaning data and preprocessing data is quite broad. It involves many methods and techiniques that are hard to include in one exercise. But I will cover how to do the most basic ones here. 

Below I will give several taks for you to finish. You will write a short snippet of code to complete the task to earn extra credits. The task are not hard and probably do not need more than 10 lines code to finish (for each of them). 

## Dealing with missing values

Missing values are often seen. For example, the temperature for a specific date could be missing due to the lack of available data. Those values typically show up in the dataset as "null" or "None", etc. We can remove them, or treat them as zeros.

In [ ]:
# here is a list with two missing values
l = [9, 1, None, 0, 23, None]

- Please write code to remove the None values from the list (1 point)

In [ ]:
[x for x in l if x is not None]

[9, 1, 0, 23]

- Please write code to convert the None values to 0 (1 point)

In [ ]:
l = [9, 1, None, 0, 23, None]
[0 if x is None else x for x in l]

[9, 1, 0, 0, 23, 0]

## Dealing with invalid values

Invalid values are more annoying than missing values. It is often times not immediatly known to us that certain data is invalid. For example, when a list of data should be all integers, there are a string in it. If it is a string of integer, we can convert the string to its corrsponding values. However, if the string cannot be interpreted as an integer, then we have to remove it/convert it to 0.

In [ ]:
# here is an integer list with invalid values
l2 = [10, "lol", None, 1, 1312]

- Please write code to remove invalid values from the list (1 point)

In [ ]:
[x for x in l2 if x is not str]

[10, None, 1, 1312]

## Converting/fixing values

Sometimes the data is good, but it is not in the best format. Think of how many ways can we represent a data. In many cases we need to fix the data before we can use it. Here are two tasks for you to practice:

In [ ]:
s = '08/23/2015'

string s is a date, write your code to get the year, month, and date in it
You should get them as integers, instead of strings (1 point)

In [ ]:
date = s.replace('/' , '-')
date

'08-23-2015'

In [ ]:
from datetime import datetime

In [ ]:
date_modify = datetime.strptime(date, "%m-%d-%Y")
date_modify

datetime.datetime(2015, 8, 23, 0, 0)

In [ ]:
date_modify.year

2015

In [ ]:
date_modify.month

8

In [ ]:
date_modify.day

23

In [ ]:
val = '123,456'

string `val` is an integer, but it has comma in it. Write code to remove the comma, and parse its value into an integer (1 point)

In [ ]:
val = '123,456'
int(val.replace(',' , ''))

123456